/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
    font-family: "Heebo", sans-serif;
    text-align: center;
  }
  
  body {
    background-image: url(../images/background-pattern.png);
  }
  .pokemon-list {
    list-style-type: none;
  }
  
  ul {
    -webkit-padding-start: 0;
            padding-inline-start: 0;
  }
  
  .modal-title {
    text-transform: capitalize;
    color: orange;
  }
  button.close-button {
    background-color: black;
    color: orange;
    border-color: black;
  }
  
  button.close-button:hover {
    color: white;
    background-color: grey;
    border-color: white;
  }
  .modal-content {
    background-color: grey;
    font-size: 1em;
  }
  .modal-header {
    border-color: grey;
    text-align: center;
  }
  .modal-footer {
    border-color: grey;
    text-align: center;
  }
  
  .button-class{
    padding: 10px;
    margin: 10px;
    width: 90%;
    font-size: 1.5em;
    text-transform: capitalize;
    border-radius: 15px;
  }
  
  /* overwriting bootstrap default styling  */
  
  .btn-primary:active, .btn-primary:visited, .btn-primary:focus, .btn-primary:visited, .close:hover, .close:visited, .close:focus, .button-class:focus  {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  
  .button-class {
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: orange;
    border: 3px solid orange;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;}
  
  .button-class:hover{
    color: white;
    background-color: grey !important;
    border: 3px solid white !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  
  .btn-primary:hover{
    color: white;
    background-color: grey !important;
    border: 3px solid white !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  
  
  .navbar{
    padding: 0;
  }
  
  .navbar-brand{
    padding-left: 10px;
  }
  
  /* overwriting default bootstrap navbar styling */
  
  .bg-dark
  {
    
    background-color: rgba(0, 0, 0, 0.9) !important;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: orange
  }
  .navbar-dark .navbar-brand {
    color: orange
  }
  .navbar-dark .navbar-nav .active>.nav-link {
    color: white;
  }
  .navbar-dark .navbar-nav .nav-link.active {
    color: white;
  }
  .navbar-dark .navbar-nav .nav-link.show {
    color: white;
  }
  .navbar-dark .navbar-nav .show>.nav-link {
    color: white;
  }
  
  /* search bar styling  */
  
  #search-bar:active, #search-bar:hover, #search-bar:visited, #search-bar:focus{
    -webkit-box-shadow: none;
            box-shadow: none;
    }
    
  
  #search-bar{
    text-align: center;
    width: 50%;
    color: white;
    background-color: black;
    border: 3px solid orange;
    margin: 15px 25% 15px 25%;
    position: relative
  }
  
  /* modal content sizing adjustment for smaller screens  */
  @media all and (min-width:350px) and  (max-width: 500px) {
  
  .modal-title h1{
    font-size: 1.4em;
  }
  body{
    font-size: 1em;
  }
  }
  
  @media all and (max-width: 350px) {
  
    .modal-title h1{
      font-size: 1.2em;
    }
    body{
      font-size: .85em;
    }
    }
  
    @media all and (min-width: 200px) and (max-width: 300px) {
  
      .modal-title h1{
        float: left;
        font-size: .9em;
      }
      }