* {
    font-family: 'Heebo', sans-serif;
    color: white;
    text-align: center;
}


h1 {
    color: #ffcc03;
}

body {
    background-color: #3F67AD;
}

@media all and (max-width: 500px) {
    h1 {
        font-size: 1.7em;
    }

    body {
        font-size: 1em;
    }
}
.button-class{
    background-color: #79a2eb;
    color:#0c2042;
    padding: 16px 32px;
    font-size: 16px;
    margin: 4px 2px;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #ffcc03;
    cursor: pointer;
}
.pokemon-list{
    list-style-type: none;
}