:root {
  --primary-color: black;
  --secondary-color: orange;

  --font-color: #EDF2E5;
  --highlight-color: white;

  --background-color:#EDF2E5;
  --border-color: #5C6B60;

  --modal-color: #8AA090;
  --modal-title-color: #FFA500;

  --button-color:#65A478;
  --button-border-color:#5C6B60; 
  --button-font-color:#EDF2E5; 
  --button-hover-color: #B7D5C0;
  --button-hover-border-color:#8AA090;
  --button-hover-font-color:#65A478;

  --nav-bar-color: #65A478;
  --nav-bar-border: #5c6b60;
  --nav-link: #EDF2E5;
  --nav-bar-active-link:#FFA500;


  --search-bar-color:#B7D5C0;
  --search-bar-border-color:#5C6B60;
  --search-bar-font-color:#5C6B60;
}

* {
  font-family: "Heebo", sans-serif;
  text-align: center;
}

body {
  background-color: var(--background-color);
}
.pokemon-list {
  list-style-type: none;
}

ul {
  padding-inline-start: 0;
}

.modal-title {
  text-transform: capitalize;
  color: var(--modal-title-color);
}
button.close-button {
  background-color: var(--button-color);
  color: var(--button-font-color);
  border:0px solid var(--button-border-color);
}

button.close-button:hover {
  color: var(--button-hover-font-color);
  background-color: var(--button-hover-color);
  border: 0px solid var(--button-hover-border-color);
}
.modal-content {
  background-color: var(--modal-color);
  font-size: 1em;
}
.modal-header,
.modal-footer {
  border-color: var(--modal-color);
  text-align: center;

}

.button-class{
  padding: 10px;
  margin: 10px;
  width: 90%;
  font-size: 1.5em;
  text-transform: capitalize;
  border-radius: 15px;
}

/* overwriting bootstrap default styling  */

.btn-primary:active, .btn-primary:visited, .btn-primary:focus, .btn-primary:visited, .close:hover, .close:visited, .close:focus, .button-class:focus  {
  box-shadow: none !important;
}

.button-class {
  background-color: var(--button-color) !important;
  color: var(--font-color);
  border: 0px solid var(--border-color);
  box-shadow: none !important;}

.button-class:hover, .btn-primary:hover{
  color: var(--button-hover-font-color);
  background-color: var(--button-hover-color) !important;
  border: 0px solid var(--button-hover-border-color) !important;
  box-shadow: none !important;
}


.navbar{
  padding: 0;
  background-color: var(--nav-bar-color);
}

.navbar-brand{
  padding-left: 10px;
}

/* overwriting default bootstrap navbar styling */

.navbar-nav .nav-link {
  color: var(--font-color)
}
.navbar-brand {
  color: var(--font-color)
}
.navbar-nav .active>.nav-link, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .navbar-nav .show>.nav-link {
  color: var(--nav-bar-active-link);
}

/* search bar styling  */

#search-bar:active, #search-bar:hover, #search-bar:visited, #search-bar:focus{
  box-shadow: none;
  border: 0px solid white;
  }
  

#search-bar{
  text-align: center;
  width: 50%;
  color: var(--search-bar-font-color);
  background-color: var(--search-bar-color);
  border: 0px solid var(--search-bar-border-color);
  margin: 15px 25% 15px 25%;
  position: relative
}

/* modal content sizing adjustment for smaller screens  */
@media all and (min-width:350px) and  (max-width: 500px) {

.modal-title h1{
  font-size: 1.4em;
}
body{
  font-size: 1em;
}
}

@media all and (max-width: 350px) {

  .modal-title h1{
    font-size: 1.2em;
  }
  body{
    font-size: .85em;
  }
  }

  @media all and (min-width: 200px) and (max-width: 300px) {

    .modal-title h1{
      float: left;
      font-size: .9em;
    }
    }